/* RGB */
.main__content--section1, .main__content--section2, .main__content--section3, .main__content--section4, .main__content--section5, .main__content--section6, .main__content--section7, .main__content--section8 {
  margin-bottom: 5rem; }
  .main__content--section1 h1, .main__content--section2 h1, .main__content--section3 h1, .main__content--section4 h1, .main__content--section5 h1, .main__content--section6 h1, .main__content--section7 h1, .main__content--section8 h1 {
    margin: 1rem 0rem; }
  .main__content--section1 p, .main__content--section2 p, .main__content--section3 p, .main__content--section4 p, .main__content--section5 p, .main__content--section6 p, .main__content--section7 p, .main__content--section8 p {
    font-size: 1.5rem; }
  .main__content--section1 a, .main__content--section2 a, .main__content--section3 a, .main__content--section4 a, .main__content--section5 a, .main__content--section6 a, .main__content--section7 a, .main__content--section8 a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
    border: 1px solid yellow;
    background: black; }
    .main__content--section1 a:hover, .main__content--section2 a:hover, .main__content--section3 a:hover, .main__content--section4 a:hover, .main__content--section5 a:hover, .main__content--section6 a:hover, .main__content--section7 a:hover, .main__content--section8 a:hover {
      background-color: green;
      color: #eee;
      transition: all .5s; }
  .main__content--section1 img, .main__content--section2 img, .main__content--section3 img, .main__content--section4 img, .main__content--section5 img, .main__content--section6 img, .main__content--section7 img, .main__content--section8 img {
    height: 40vh;
    width: 100%; }
    @media screen and (max-width: 75em) {
      .main__content--section1 img, .main__content--section2 img, .main__content--section3 img, .main__content--section4 img, .main__content--section5 img, .main__content--section6 img, .main__content--section7 img, .main__content--section8 img {
        height: 25vh; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.2%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveup {
  0% {
    opacity: 1; }
  100% {
    margin-top: calc(8* (-60vh)); } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 4rem; }
  .popup__close:link, .popup__close:visited {
    font-size: 4rem;
    position: absolute;
    top: -1%;
    text-decoration: none;
    right: 2%;
    z-index: 9999;
    color: #233746; }
    .popup__close:link:hover, .popup__close:visited:hover {
      color: orangered; }

.branch, .call, .media, .customer {
  background-color: rgba(0, 0, 255, 0.5);
  text-align: center;
  font-size: 2rem; }
  .branch:hover, .call:hover, .media:hover, .customer:hover {
    cursor: pointer;
    box-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.5); }

.footer {
  height: 38vh;
  width: 100%;
  color: #eee;
  padding: 1rem 9rem 1rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media screen and (max-width: 75em) {
    .footer {
      height: 25%; } }
  .footer__container {
    height: 38vh;
    overflow: hidden;
    padding: 2rem; }
    @media screen and (max-width: 75em) {
      .footer__container {
        height: 100%; } }
    .footer__container--location {
      display: flex;
      flex-direction: row; }
      .footer__container--location-img {
        height: 4rem;
        width: 4rem;
        margin-top: 1.5rem;
        cursor: pointer;
        background-image: url(/images/location.svg);
        background-size: cover; }
      .footer__container--location-text {
        margin: .8rem 2rem; }
    .footer__container--call {
      display: flex;
      flex-direction: row; }
      .footer__container--call-img {
        height: 4rem;
        width: 4rem;
        margin-top: 1.5rem;
        cursor: pointer;
        background-image: url(/images/call.svg);
        background-size: cover; }
      .footer__container--call-text {
        margin: 3rem 2rem; }
    .footer__container--email {
      display: flex;
      flex-direction: row;
      margin-top: -2rem; }
      .footer__container--email-img {
        height: 4rem;
        width: 4rem;
        margin-top: 1.5rem;
        cursor: pointer;
        background-image: url(/images/mail.svg);
        background-size: cover; }
      .footer__container--email-text {
        margin: 2.5rem 2.5rem; }
    .footer__container__about p {
      text-align: justify; }
  .footer img {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    margin-top: 2.5rem; }
    .footer img:hover {
      opacity: .5; }

.header {
  height: 10vh;
  font-size: 1.5rem;
  background-color: #6784BC;
  top: 0;
  left: 0; }
  @media screen and (max-width: 112em) {
    .header {
      height: 7vh;
      font-size: 1.2rem; } }
  @media screen and (max-width: 75em) {
    .header {
      height: 7vh;
      font-size: 1.3rem;
      padding: 1rem; } }
  .header__navbar {
    display: flex;
    flex-direction: row; }
  .header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase; }
    .header__list a {
      text-decoration: none;
      padding: 0.2rem;
      margin: 2rem 1.5rem 2rem 3.2rem;
      color: #eee;
      background: linear-gradient(120deg, #6784BC 0%, #6784BC 50%, orangered 50%);
      background-size: 220%;
      transition: all 1s;
      border-radius: 3px; }
      @media screen and (max-width: 75em) {
        .header__list a {
          font-size: 1.4rem;
          margin: 2rem 1rem 2rem 2rem; } }
      .header__list a:hover {
        background-position: 100%; }
  .header #magPat {
    color: #000;
    margin: 1.2rem 7rem 0.2rem 8rem;
    padding: .5rem 0rem 1.5rem .8rem;
    height: 4rem;
    color: #eee;
    width: 13rem; }
    .header #magPat span {
      text-align: center;
      margin-left: .2rem;
      font-size: 1rem; }
  .header #tf {
    margin: 2.5rem 0 0 0;
    cursor: pointer;
    color: #eee; }
  .header #tf-1 {
    margin: 2.8rem 0 0 .5rem;
    color: #eee; }
    @media screen and (max-width: 112em) {
      .header #tf-1 {
        margin: 2.8rem 0 0 3.5rem; } }
    @media screen and (max-width: 75em) {
      .header #tf-1 {
        margin: 2.8rem 0 0 5rem; } }

.main {
  height: 100%;
  width: 100%;
  background-color: rgba(225, 244, 244, 0.7);
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 75em) {
    .main {
      height: 100%; } }
  .main__photo--container {
    height: 50vh; }
  .main__content--container {
    height: 90%;
    width: 60%;
    padding: 3.5rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 100%);
    grid-gap: 1.5rem; }
    @media screen and (max-width: 112em) {
      .main__content--container {
        height: 90%; } }
    @media screen and (max-width: 75em) {
      .main__content--container {
        height: 95%;
        grid-template-columns: repeat(2, 51%);
        grid-template-rows: repeat(4, 27%);
        grid-gap: 1rem;
        margin: -3rem .5rem .2rem .5rem; } }
    .main__content--container img {
      height: 30vh;
      width: 100%; }
      @media screen and (max-width: 112em) {
        .main__content--container img {
          height: 25vh; } }
      @media screen and (max-width: 75em) {
        .main__content--container img {
          height: 24vh;
          border: 2px solid; } }
      .main__content--container img:hover {
        cursor: pointer;
        opacity: .4;
        background-color: rgba(225, 244, 244, 0.7);
        transition: all 1s;
        transform: scale(2rem, 2rem); }
  .main__content--sidebar {
    background-color: #eee;
    height: 126vh;
    width: 40%;
    margin: 3.5rem;
    color: #000;
    font-size: 1rem;
    text-align: justify;
    padding: .5rem 1rem;
    border: 1px solid;
    overflow: hidden;
    position: relative; }
    .main__content--sidebar:hover {
      animation-play-state: paused; }
    @media screen and (max-width: 75em) {
      .main__content--sidebar {
        height: 98%;
        margin-top: 1.2rem; } }
    .main__content--sidebar h1 {
      text-transform: uppercase; }
    .main__content--sidebar hr {
      height: 1rem;
      background-color: black; }
  .main__content--section1 {
    animation: moveup 20s 5s 10 linear;
    transition: all 10s; }
    .main__content--section1:hover {
      animation-play-state: paused;
      cursor: pointer; }
    .main__content--section1-image {
      height: 40vh;
      animation: moveInLeft 1s; }
    .main__content--section1-text {
      animation: moveDown 2s; }
      @media screen and (max-width: 75em) {
        .main__content--section1-text {
          margin: -15rem 0 10rem; } }
  .main__content--section2 {
    transition: all 12s; }
    .main__content--section2:hover {
      animation-play-state: paused; }
    @media screen and (max-width: 75em) {
      .main__content--section2-text {
        margin: 3rem 0 10rem 0; } }
  @media screen and (max-width: 75em) {
    .main__content--section3-text {
      margin: 3rem 0 10rem 0; } }
  @media screen and (max-width: 75em) {
    .main__content--section4-text {
      margin: 3rem 0 10rem 0; } }
  @media screen and (max-width: 75em) {
    .main__content--section5-text {
      margin: 3rem 0 10rem 0; } }
  @media screen and (max-width: 75em) {
    .main__content--section6-text {
      margin: 3rem 0 10rem 0; } }
  @media screen and (max-width: 75em) {
    .main__content--section7-text {
      margin: 3rem 0 10rem 0; } }
  @media screen and (max-width: 75em) {
    .main__content--section8-text {
      margin: 3rem 0 10rem 0; } }
