//  Responsive breakpoints
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };         //600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };         //900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };        //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };        //1800px
    }    
}



@mixin colorWhite {
    &:hover {
        color: #eee;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin imgProp {
    height: 4rem;
    width: 4rem;
    margin-top: 1.5rem;
    cursor: pointer;
}


// **************************   Placeholders ************************

%section {
    margin-bottom: 5rem;

    h1 {
        margin: 1rem 0rem ;
    }

    p {
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #fff;
        padding: 1rem;
        border: 1px solid yellow;
        background: black;

        &:hover {
            background-color: green;
            color: #eee;
            transition: all .5s;
        }

    }

    img {
        height: 40vh;
        width: 100%;

        @media screen and (max-width: 75em) {
            height: 25vh;
        }
    }

    // main__content--section$-text {
    //     margin: 3rem 0 10rem 0;
    // }
}


