@keyframes moveInLeft {
    0% {
        background-size: 10%;
    }

    20% {
        background-size: 20%;
    }

    40% {
        background-size: 40%;
    }

    60% {
        background-size: 60%;
    }

    80% {
        background-size: 80%;
    }

    100% {
        background-size: 100%;
    }
}