@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveup {
    // ***************************** First section - AUTO LEASE LOAN
    0% {
        opacity: 1;    
      }

    // ***************************** Second section - HOUSING FINANCE
    13% {
        margin-top: -80vh;
    }

    // ***************************** Third section - SME LOANS
    26% {
        margin-top: calc(2* (-87vh));
    }

    // ***************************** Fourth section - CAR LOAN
    39% {
        margin-top: calc(3* (-87vh));
    }

    // ***************************** Fifth section - CONSTRUCTION EQUIPMENT LOAN
    52% {
        margin-top: calc(4* (-87vh));
    }

    // ***************************** Sixth section - TRACTOR LOAN
    65% {
        margin-top: calc(5* (-86vh));
    }

    // ***************************** Seventh section - USED VEHICLE LOAN
    78% {
        margin-top: calc(6* (-87.5vh));
    }

    // ***************************** Eight section - COMMERCIAL VEHICLE LOAN
    91% {
        margin-top: calc(7* (-86vh));
    }

    // ***************************** End section
    100% {
        margin-top: calc(8* (-87vh));
      }
}

// @keyframes moveUp {
//         0% {
//           opacity: 1;
//           margin-top: 200vh;
//         }

//         40% {
//             margin-top: 100vh;
//         }

//         80% {
//             margin-top: -100vh;
//         }

//         100% {
//           margin-top: -240vh;
//         }
//       }

